---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Delete your account">
  <p>You can easily delete your account and all your data via the app by proceeding to <b>Settings</b> and using the <b>Delete account button</b> (might be unavailable in earlier alpha/beta versions).</p>
</Layout>
