---
import WaitlistForm from "../components/WaitlistForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sidekyk">
	<img src="logo.svg" alt="logo" class="fixed top-4 left-4 w-12 rounded-xl z-50" />
	<div class="min-h-screen w-full sm:w-4/6 md:w-4/5 lg:w-4/6 xl:w-3/5 flex flex-col justify-center mt-28 mb-12 md:my-0 mx-auto">
		<main class="flex flex-col md:flex-row md:items-center justify-center">
			<div class="space-y-4 px-10">
				<h1 class="text-4xl sm:text-5xl md:text-6xl text-zinc-800 font-bold xl:font-extrabold text-left sm:text-center lg:text-left leading-tight xl:leading-tight">
					Your custom AI <span class="text-primary">sidekyks</span>
				</h1>

				<div>
					<WaitlistForm client:load />
				</div>
			</div>
			<img src="screenshot.png" alt="Sidekyk screenshot" class="w-full max-w-sm md:max-w-xs xl:max-w-sm mx-auto" />
		</main>
	</div>
</Layout>
