---
const year = new Date().getFullYear();
---

<footer class="w-full text-xs text-center text-zinc-600 font-light pt-6 pb-16">
	<div id="links" class="mb-8">
		<a href="#">Pricing</a>
		<a href="mailto:ayodeji@sidekyk.app">Contact</a>
		<a href="/privacy-policy">Privacy policy</a>
		<a href="/tos">Terms of service</a>
	</div>
	<p>&copy; {year} Sidekyk. Made by <a class="text-primary" href="https://trulyao.dev" target="_blank">Ayodeji</a></p>
</footer>

<style lang="scss">
	a {
		@apply text-zinc-600 hover:text-primary transition-all;
	}
	#links {
		@apply w-4/5 md:w-4/6 xl:w-2/5 grid grid-cols-2 md:grid-cols-4 items-center gap-4 md:gap-6 mx-auto mb-10;
		a {
			@apply block;
		}
	}
</style>
